@page "/counter"
@rendermode InteractiveServer

<PageTitle>Persistent Counter</PageTitle>

<h1>Persistent Counter</h1>

<p role="status">Current count: @_counter.Value</p>
<p>
    <em>
        @if (_counter.WasRestored)
        {
            <span>Restored from prerender</span>
        }
        else
        {
            <span>Freshly initialized</span>
        }
    </em>
</p>

<button class="btn btn-primary" @onclick="Increment">Click me</button>
